.left-side {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0; 
    bottom: 0;
    width: 250px;
    height: 100vh;
    background-color: hsl(234, 32%, 17%);
}

.place, .temperature {
    color: white;    
}

.temperature {
  color: #A09FB1;
font-family: Raleway;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.image {
    width: 200px;
    height: 200px;
}

/* Left.css */
.image {
    animation: pulse 0.8s alternate infinite;
}
  
  @keyframes pulse {
    0% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
}

.description {
  color: #A09FB1;
text-align: center;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
  
.place {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha no centro horizontalmente */
}

.date {
  margin-bottom: 5px; /* Espaçamento entre a data e o nome da cidade */
}

.city {
  /* Estilos para o nome da cidade, se necessário */
}
